body{
    background-color: #181818;
}



/* ------------- Player ------------- */
div.player{
    position: relative;
    width: 1280px;
    height: 720px;
    border: solid 1px #eee;
}

div.player .curtain{
    width: 1280px;
    height: 720px;
    background-color: #181818;
    position: absolute;
    top: 0px;
    left: 0px;

}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

div.player .open{
    /* フェードイン */
    animation: 1s fade-in forwards;
}
div.player .close{
    /* フェードアウト */
    animation: 1s fade-out forwards;
}