body{
    background-color: #181818;
}
p{
    color: #eee;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    margin: 5px;
}


/* ------------- Player ------------- */
div.player{
    display: inline-block;
    position: relative;
    width: 1280px;
    height: 720px;
    border: solid 1px #eee;
}

div.player .curtain{
    width: 1280px;
    height: 720px;
    background-color: #181818;
    position: absolute;
    top: 0px;
    left: 0px;

}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

div.player .open{
    /* フェードイン */
    animation: 1s fade-in forwards;
}
div.player .close{
    /* フェードアウト */
    animation: 1s fade-out forwards;
}

div.status{
    display: inline-block;
    vertical-align: top;
    width: 31%;
    height: 720px;
}
div.status .box1{
    margin: auto 0;
}

div.status .box1 div.list{
    display: inline-block;
    border: solid 1px #eee;
    margin: 0;
    width: 43%;
}