body{
    background-color: #181818;
}
p{
    color: #eee;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    margin: 5px;
}


/* ------------- Player ------------- */
div.player{
    display: inline-block;
    position: relative;
    width: 1280px;
    height: 720px;
    border: solid 1px #2f2f2f00;
}

div.player .curtain{
    width: 1280px;
    height: 720px;
    background-color: #181818;
    position: absolute;
    top: 0px;
    left: 0px;

}
.youtube{
    border-radius: 20px;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* ------------ Curtain ------------ */
div.player div.open{
    /* フェードイン */
    animation: 1s fade-in forwards;
}
div.player div.close{
    /* フェードアウト */
    animation: 0.5s fade-out forwards;
}

div.status{
    display: inline-block;
    vertical-align: top;
    width: 31%;
    height: 720px;
}
div.status .box1{
    margin: auto 0;
}

div.status .box1 div.list{
    display: inline-block;
    border: solid 1px #eee;
    vertical-align: top;
    margin: 0;
    width: 43%;
}

/* --------- profile photo --------- */
div.profile{
    margin: 0 auto;
    margin-top: 127px;
    width: 200px;
    height: 200px;
}
div.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
div.userName, div.title{
    margin-top: 13px;
    text-align: center;
    font-size: 30px;
}

/* Play Button */
div.play{
    position: absolute;
    top: 670px;
    left: 600px;
    border: solid 2px #eee;
    border-radius: 16px;
    width: 55px;
}
div.play a{
    text-decoration: none;
    text-align: center;
}
div.play a p{
    font-weight: bold;
    text-decoration: none;
}
div.play.close{
    /* フェードアウト */
    animation: 0.5s fade-out forwards;
}

/* icon */
img.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
img.icon.hilight{
    border: solid 2px #fcff2d;
}
div.streamings{
    padding: 5px;
}