html{
    height: 100%;
}
body{
    position: relative;
    background-color: #181818;
    height: 100%;
    margin: 0;
}
p{
    color: #eee;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    margin: 5px;
    word-wrap: break-word;
}
a{
    color: #eee;
    text-decoration: none;
}
div.main{
    /*width: 90%;*/
    width: 1550px;
    height: 100%;
    margin: 0 auto;
}



/* ---- Channel Live Stream ---- */
div.smart{
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    height: 85%;
    border: solid 1px #fff;
    box-sizing: border-box;
}
div.movie{
    width: 100%;
    height: 30%;
}
div.movie iframe{
    width: 100% !important;
    height: 100% !important;
}
div.m-check{
    position: relative;
    width: 100%;
    height: 5%;
}
div.m-check div{
    position: absolute;
    top: 0;
    right: 5%;
}
div.channel{
    position: relative;
    width: 100%;
    height: 65%;
    border: solid 1px #fff;
    box-sizing: border-box;
}
div.channel .msg{
    display: inline-block;
    width: 50%;
    height: 5%;
}
div.channel #counter{
    display: inline-block;
    width: 20%;
    height: 5%;
}
div.channel #streamings{
    width: 100%;
    height: 95%;
    border: solid 1px #fff;
    box-sizing: border-box;
    overflow-y: scroll;
}
div.channel #streamings .box{
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    height: 130px;
    border: solid 1px #fff;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px 7px;
}
div.channel #streamings .box p{
    font-size: 12px;
}
div.box .img{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
div.box .img img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
div.box .name{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    height: 25%;
    overflow-y: hidden;
}
div.box .title{
    width: 100%;
    height: 50%;
    overflow-y: hidden;
    border-bottom: solid 1px #fff;
}
div.box .ck{
    position: relative;
    width: 100%;
}
div.box .ck div{
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 0 0;
}
div.box .ck img{
    width: 100%;
    height: 100%;
}
div.box .ck .badge{
    position: absolute;
    top: 2px;
    right: 2px;
}



/* Streaming Data Viewer */
div.streamData{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 25%;
    height: 85%;
    border: solid 1px #fff;
    box-sizing: border-box;
}
div.streamData .now{
    width: 100%;
    height: 30%;
    border: solid 1px #fff;
    box-sizing: border-box;
    overflow-y: scroll;
}
div.streamData .now .list{
    display: inline-block;
    border: solid 1px #565656;
    word-wrap: break-word;
    vertical-align: top;
    margin: 0;
    width: 48%;
    font-size: 0.7vw;
}
#playgame_photo{
    width: 70%;
}

/* stream data editor */
div.streamData .visual{
    position: relative;
    width: 100%;
    height: 70%;
    border: solid 1px #fff;
    box-sizing: border-box;
}
div.visual .submit{
    top: 0px;
    position: absolute;
}
div.visual .submit.vs1{
    left: 0px;
}
div.visual .submit.vs2{
    left: 50px;
}
div.visual .submit.vs3{
    left: 100px;
}
#visual_main{
    width: 100%;
    height: 100%;
    font-size: 0.7vw;
    overflow-y: scroll;
}
#visual_main input{
    background-color: #181818;
    color: #eee;
    font-size: 0.7vw;
    border: 0;
}
#visual_main .channelId{
    margin: 0 0 0 20px;
}
#visual_main .channelId p{
    display: inline-block;
}
#visual_main .ct{
    margin: 0 0 0 20px;

}
#visual_main .elem2{
    margin: 0 0 0 40px;
}
#visual_main .elem2 p{
    display: inline-block;
    color: #52c6d2;
}

div.cntadd{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 40%;
    height: 85%;
    border: solid 1px #fff;
    box-sizing: border-box;
}
div.control{
    width: 100%;
    height: 20%;
    border: solid 1px #fff;
    box-sizing: border-box;
}

/* ---- addgame ---- */
div.addgame{
    width: 100%;
    height: 80%;
    border: solid 1px #fff;
    box-sizing: border-box;
    overflow-y: scroll;
    font-size: 0.7vw;
}
div.submit{
    background-color: #4a7956;
    display: inline-block;
}
#main input{
    width: 50%;
    height: 25px;
    font-size: 0.7vw;
    background-color: #ffd770;
}
#main .img{
    width: 46%;
    height: 150px;
    float: right;
    margin-right: 1%;
}
#main .img img{
    width: 100%;
    height: 100%;
}


/* ----- viewer ----- */
div.viewer{
    width: 1550px;
    height: 15%;
    /* border: solid 1px #fff; */
    /* box-sizing: border-box; */
}

/* message log, error log */
#message_log, #error_log{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    height: 70%;
    margin-top: 1%;
    border: solid 1px #fff;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-wrap: break-word;
    color: #eee;
    font-size: 0.7vw;
}