body{
    background-color: #181818;
}
p{
    color: #eee;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    margin: 5px;
}
a{
    text-decoration: none;
}
div.user{
    width: 50%;
    height: 90px;
    border: solid 1px #676767;
    border-radius: 20px;
    margin: 5px auto;
}
div.user div.icon{
    width: 90px;
    float: left;
}
div.user div.icon img{
    width: 100%;
    border-radius: 20px 0 0 20px;
    vertical-align: top;
}
div.sep{
    /*width: 124px;*/
    float: left;
}
div.sep div.name{
    font-size: 20px;
}
div.sep div.youtube{
    display: inline;
}
div.sep div.youtube img{
    width: 30px;
    margin: 5px;
}
div.sep div.twitter{
    display: inline;
}
div.sep div.twitter img{
    width: 30px;
    border-radius: 5px;
}
div.genre{
    width: 130px;
    height: 100%;
    float: left;
}
div.genre p{
    font-size: 12px;
}
div.genre img{
    float: left;
    width: 90%;
    height: 66%;
    margin-left: 5%;
}
div.mainStatus{
    float: left;
    width: 200px;
}
div.averageLiveTime{
}
div.averageLiveTime p{
    font-size: 12px;
}
div.lastlive{
}
div.lastlive p{
    font-size: 12px;
}
div.control{
    width: 50%;
    border: solid 1px #eee;
    margin: 50px auto;
}
div.control p{
    size: 20px;
    font-weight: bold;
}
div.control .btn{
    display: inline-block;
}